<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snipper Snippets</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class= 'container'>
        <div class="container_content">
        <div class="container_content_inner">
        <div class="title">
          <h1>Home</h1>
        </div>
        <div class="par">
        <p>
        Welcome to Snipper Snippets the best place for storing your code!
        </p>
        </div>
        <div class="btns">
        <button class='btns_more'> See more </button>
        </div>
        </div>
        </div>
         <div class="container_outer_img">
         <div class="img-inner">
         <img src='https://economyofbrighton.co.uk/cdn/shop/products/x111_11.jpg?v=1658927800'  alt="" class="container_img"/>
               </div>
             </div>
          </div>
        <div class="overlay"></div>
</body>
</html>
